.section {
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #cbd5e1;
  padding-bottom: 1.25rem;

  @media (min-width: 1024px) {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    display: flex;
    padding-bottom: 1rem;
  }
}

.logo {
  margin-bottom: 0.5rem;
}

.heading {
  padding-bottom: 0.25rem;
  font-family: var(--font-primary);
  font-weight: 500;

  @media (min-width: 960px) {
    font-size: 1.5rem;
  }
}

.date {
  color: #6b7280;
  @media (min-width: 1024px) {
    padding-top: 0.5rem;
  }
}
